body{
	background-color:#E2E2E2;
}
.header{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	background-color:#F8B184;
}
.table{
	position:absolute;
	top:140px;
	left:25%;
	width:800px;
	font-size:18pt;
	color:#595959;
}
.button{
	position:absolute;
	top:350px;
	left:15%;
}

input{
	width:430px;
	height:60px;
	font-size:18pt;
	color:#595959;
	border:0px solid;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

input.button_1{
	position:absolute;
    border-style:none;
    background-color:#FC9E63;
    color:#FFFFFF;

    width:200px;
    height:50px;

	left:130px;

    font-size:16pt;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}

