body{
color:#fff;
background-color:#00abc6;
}
input #submit_button_back {
padding :1px 5px;
margin :2px;
font-size :1.2em;
background-color :#60686f;
color :#fff;
border-style:none;
}
input #submit_button_reset {
padding :1px 0px;
margin :2px;
font-size :1.2em;
background-color :#60686f;
color :#fff;
border-style:none;
}
input #submit_button {
padding :1px 4px;
margin :2px;
font-size :1.2em;
background-color :#60686f;
color :#fff;
border-style :none;
}

div.head{
margin : 20px;
padding :10px;
font-size :80px;
width :1500px;
}
div.button {
position : absolute ;top :10px;left :700px;
height :1px;

}
div.form{
float:left;
background-color :#36454e;
width : 500px;
height : 210px;
margin : 20px;
padding :10px;
}
div.first {
float :left;
background-color :#36454e;
width : 500px;
height : 210px;
margin : 20px;
padding :10px;
}
div.new_tile {
float:left;
width : 500px;
height : 210px;
margin : 20px;
padding :10px;
}
